<!-- <span id="elo">{{elo}}</span> -->
<!-- <div id="text"><app-car text="Witam" (bClick)="toggleTask()" counter="5"></app-car></div> -->

<!-- <app-test2></app-test2> -->
<!-- <a routerLink="/strona1" routerLinkActive="active">Link</a> -->
<!-- <a routerLink="/strona2" routerLinkActive="active">Link</a>  -->


<!-- <app-test (newItemEvent)="addItem($event)"></app-test> -->
<ul>
    <li *ngFor="let item of items">{{item}}</li>
  </ul> 
  <div>
    <header>
        <nav>
          <ul>
            <li>Pierwsszy</li>
            <li>Pierwsszy</li>
            <li>Pierwsszy</li>
            <li>Pierwsszy</li>

          </ul>
        </nav>
    </header>
<router-outlet></router-outlet>
<footer>ELLLLL</footer>
</div>